<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjw.spring.springboot.dao.mapper.EmpProcedureMapper">
	<select id="findTableChangeCursor" parameterType="com.yjw.spring.springboot.dto.emp.EmpResult"
		statementType="CALLABLE">
		{call TABLE_CHANGE_CURSOR(
		  #{result.empList,jdbcType=CURSOR, resultMap=com.yjw.spring.springboot.dao.mapper.EmpMapper.BaseResultMap,mode=OUT}
		)}
	</select>
</mapper>